<mat-card>
    <mat-spinner *ngIf=" isLoading "> </mat-spinner>

  <form (submit) = "onAddPost(postForm)" #postForm = "ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput
       type="text"
       name="title"
       [ngModel] = "post?.title"
       required
       placeholder="Post Title"
       #title="ngModel">
       <mat-error *ngIf="title.invalid">Please enter title here</mat-error>
    </mat-form-field>
    <button mat-stroked-button type="button" (click)= "filePicker.click()">PickImage</button>
    <input type="file" #filePicker>
    <mat-form-field>
      <textarea matInput
      rows="4"
      name="content"
      [ngModel]= "post?.content"
      placeholder= "Post Content"
      required
      #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter content here</mat-error>

    </mat-form-field>
    <button mat-raised-button
     type="submit"
     color="accent">Save post</button>
  </form>
</mat-card>
